---
Checks: " -*magic-numbers,
          -cppcoreguidelines-owning-memory
"
InheritParentConfig : true
CheckOptions:
  - key:    readability-function-cognitive-complexity.IgnoreMacros
    value:  'true'
---
